.team{
    flex: 25%;
    box-shadow: 0px 0px 10px;
    height: 90vh;
    border-radius: 0px 10px 0px 0px;
    justify-content: center;
}

.top{
    /* margin: 10px; */
 height: 20%;
 width: 30%;
 /* align-items: cente; */
 margin-left: 30%;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
    background-color: red;
   
}

.body{
    height: 50%;
    width: 50%;
    /* align-items: cente; */
    margin-left: 30%;
}